anyio==4.14.2
audioop-lts==0.2.2
certifi==2026.7.22
charset-normalizer==3.5.0
click==8.1.8
colorama==0.4.6
comtypes==1.4.16
contourpy==1.3.3
cycler==0.12.1
filelock==3.32.3
fonttools==4.63.0
fsspec==2026.7.0
h11==0.16.0
httpcore==1.0.9
idna==3.18
Jinja2==3.1.6
kiwisolver==1.5.0
MarkupSafe==3.0.3
mpmath==1.3.0
networkx==3.6.1
noisereduce
numpy==2.5.2
nvidia-ml-py==13.610.43
opencv-contrib-python==5.0.0.93
packaging==26.3
paho-mqtt==2.1.0
pillow==12.3.0
polars==1.43.2
polars-runtime-32==1.43.2
psutil==7.2.2
pyparsing==3.3.2
pypiwin32==223
python-dateutil==2.9.0.post0
pywin32==312
PyYAML==6.0.3
requests==2.34.2
setuptools==84.0.0
six==1.17.0
standard-aifc==3.13.0
standard-chunk==3.13.0
sympy==1.14.0
typing_extensions==4.16.0
urllib3==2.7.0

ultralytics

mediapipe==0.10.35
